.popup-open {
    position: sticky;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    filter: none;
  }

  .ckm-btn {
      padding: auto;
      flex: auto;
  }
  
  .skl-btn {
    padding: auto;
    flex: auto;
}